# See https://help.github.com/ignore-files/ for more about ignoring files.

# logging
*.log

# enviroment
.env

# dependencies
/node_modules

# testing
/coverage
/test-result

# production
/build
/uploads
/test-result


# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
